{
	{$DEBUG}
}

{$SERVER_NAME} {
	log
	root * /app/public

	mercure {
		transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
		publisher_jwt  {env.MERCURE_PUBLISHER_JWT_KEY}  {env.MERCURE_PUBLISHER_JWT_ALG}
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
		anonymous
		subscriptions
		{$MERCURE_EXTRA_DIRECTIVES}
	}

	php_fastcgi php:9000 {
		env HTTPS on
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host  {host}
		header_up X-Forwarded-Port  {server_port}
		header_up X-Real-IP         {remote}
	}

	encode zstd gzip
	file_server
}
